
<div>
  <div class="form_description">
  	<h2>Member sign in</h2>
  </div>

  <form action="<%= url(:login) %>" method="post">
    <% if request.post? -%>
    <div class="error">
      <h2>Incorrect username and password</h2>
    </div>
    <% end -%>
    
    <p><label for="username">Username or e-mail</label>
    <input type="text" name="username" value="<%= params[:username] %>"/></p>

    <p><label for="password">Password</label>
    <input type="password" name="password"/></p>

    <p><input type="checkbox" name='remember_me' id='remember_me' value="1"/>
      <label id='remember_me_lb' for="remember_me">Keep me signed in</label></p>

    <p><input type="submit" value="Sign in"/> <span style="margin-left:20px"><a href="#">Forgot password?</a></span></p>
  </form>
  
  <form action="#" method="post" style="display:none">
    <p><label for="openid_url">OpenID</label>
    <input type="text" value="" size="40" id="openid_url" name="openid_url"/>  <small>(e.g. http://username.myopenid.com)</small>
    </p>
  </form>
</div>