<div id="settings" class="ui-tabs-panel admin-panel">
	<h4>Reset your password:</h4>
	<p>
		<label for="sub-title">New Password:</label><br />
		<input type="text" name="some_name" value="" class="text">
	</p>
	<p>
		<label for="sub-title">Password Confirmation:</label><br />
		<input type="text" name="some_name" value="" class="text">
	</p>
	<button>
		Save
	</button>
</div>