	<div id="songs" class="ui-tabs-panel admin-panel">
		<h3>Upload a new song.</h3>
		<p>
			<%= form_for :song, :action => url(:songs), :multipart => true do %>
				<label for="song">Song:</label><br />
				<input type="file" name="song[uploaded_data]" id="some_name"><br />
				<p style="margin-top:10px">
					<%= button "Upload", :class => "button positive"  %>
				</p>
			<% end =%>
		</p>
		
		Or use an FTP client and upload your files.
	</div>