<div id="left_side">
	<ul class="songlist">
		<%= partial(:song, :with => @songs ) %>
	</ul>
</div>

<div id="right_side">
	<div id="admin-tabs" style="margin-bottom:0">
		<ul class="ui-tabs-nav">
	    <li><a href="#songs"><span>New Song</span></a></li>
			<li><a href="#look"><span>Look</span></a></li>
			<li><a href="#settings"><span>Settings</span></a></li>
		</ul>
	</div>	
	
	<%= partial(:upload) %>
	
	<%= partial(:look) %>
	
	<%= partial(:settings) %>
</div>
<script>
$(document).ready(function(){
  $("#admin-tabs > ul").tabs();
});
</script>
